<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyLogin</display-name>
  
  <servlet>
  <servlet-name>com.kms.controller.LoginServlet</servlet-name>
  <servlet-class>com.kms.controller.LoginServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>com.kms.controller.LoginServlet</servlet-name>
  	<url-pattern>/Login.servlet</url-pattern>
  </servlet-mapping>  
  
    <servlet>
  <servlet-name>com.kms.controller.AddPersonServlet</servlet-name>
  <servlet-class>com.kms.controller.AddPersonServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>com.kms.controller.AddPersonServlet</servlet-name>
  	<url-pattern>/Sign.servlet</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  <servlet-name>com.kms.controller.SidServlet</servlet-name>
  <servlet-class>com.kms.controller.SidServlet</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>com.kms.controller.SidServlet</servlet-name>
  	<url-pattern>/sid.servlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
  <servlet-name>com.kms.controller.SignOut</servlet-name>
  <servlet-class>com.kms.controller.SignOut</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>com.kms.controller.SignOut</servlet-name>
  	<url-pattern>/signout.servlet</url-pattern>
  </servlet-mapping>  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>